<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>

<body class="pt-24">
  <div style="min-height: 90vh;">

    <nav class="fixed top-0  z-50 w-screen bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900 h-16">
      <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="/" class="flex items-center">
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Chat App</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
          class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <button onclick="popuphide()" id="hideBtn"
              class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Home</button>
            <!-- <li>
              <a href="/login"
                class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Login</a>
            </li>
            <li>
              <a href="/register"
                class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Register</a>
            </li> -->

            <button onclick="popup('createModal','createBtn','closeCreate')" id="createBtn"
              class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Create
              Room</button>

            <button onclick="popup('joinModal','joinBtn','closeJoin')" id="joinBtn"
              class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Join
              Room</button>
          </ul>
        </div>
      </div>
    </nav>

    <div id="room-container">

      <% Object.keys(rooms).forEach(room=> { %>
        <div
          class="relative px-6 m-3 flex py-2 max-w-sm bg-white rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <h6 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
              <%= room %>
            </h6>
          </a>
          <a href="/<%= room %>"
            class="absolute shadow mr-2 right-0 inline-flex items-end py-2 px-3 text-sm font-bold text-end text-green-500 rounded-lg  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Join </a>
        </div>
        <% }) %>

    </div>

    <div id="createModal" style="display: none;">
      <div class="center fixed top-10 left-0 bg-white">
        <div class="center-div">
          <div class="py-6 px-6 lg:px-8">
            <center class="font-bold mb-4 text-xl text-gray-900 dark:text-white">Create Room</center>
            <form class="space-y-6" action="/room" method="post">
              <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Room
                  Name</label>
                <input type="text" name="room" id="name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-100 focus:border-blue-100 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  placeholder="Room Name..." required>
              </div>
              <button type="submit"
                class="closeCreate w-full text-white font-bold bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Create Room</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="joinModal" style="display: none;">
    <div class="center fixed top-10 bg-white left-0">
      <div class="center-div">
        <div class="py-6 px-6 lg:px-8">
          <center class="font-bold mb-4 text-xl text-gray-900 dark:text-white">Join Room</center>
          <form class="space-y-6" action="/joinroom" method="post">

            <div>
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Room
                Name</label>
              <input type="text" name="roomname" id="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-100 focus:border-blue-100 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="Room Name..." required>
            </div>

            <button type="submit"
              class="closeJoin w-full text-white font-bold bg-blue-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Join Room</button>
          </form>
        </div>
      </div>
    </div>

  </div>

  </div>

  <footer
    class="p-4 bg-white rounded-lg md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 static bottom-0 w-full left-0">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com/"
        class="hover:underline">Flowbite™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </footer>

  <script>
    function popup(myModal, Btn, close) {
      document.getElementById('joinModal').style.display = "none";
      document.getElementById('createModal').style.display = "none";
      var modal = document.getElementById(myModal);
      var btn = document.getElementById(Btn);
      var span = document.getElementsByClassName(close)[0];
      modal.style.display = "block";
      span.onclick = function () {
        modal.style.display = "none";
      }
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    }
    function popuphide() {
      document.getElementById('joinModal').style.display = "none";
      document.getElementById('createModal').style.display = "none";
    }
  </script>

</body>

</html>